@media screen and (min-width: 481px) {
body{
    margin: 0;
    padding: 0;
    background-color: violet;

}
.waku{
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 1200px;;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
}
.ao{
    background-color: skyblue;
}
.nani1{
    width: 100%;
    background-repeat: no-repeat ;
}

    /* フッターの記述 */
.ooki{
      font-size: 30px;
  }
  #yokonarabi{
      display: inline;
  }
  #footer{
    background-color: #ebdf35;
    padding-right: 5%;
    margin-left: -0.7%;
    margin-bottom: -0%;
  }
  .fo{
      font-size: 35px;
      margin-top: 0;
  }
  .list_triangle {
      padding: 0px;
      margin: -5px;
      list-style: none;
  }
  
  .list_triangle > li {
      position: relative;
      padding: 0px 0px 0px 1em;
  }
  .list_triangle > li::before {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 0px;
      height: 0px;
      border: 0.3em solid transparent;
      border-left: 0.4em solid black;
      content: "";
  }


/* ドロワー */
  .mannaka{
      text-align: center;
  }
  #kiiro{
      background-color: #ebdf35;
      width: auto;
  }



/* ドロワー、フッターに色をつける */
  #ao{
      color: blue;
  }

  #aka{
      color: red;
  }


  /* ドロワー */
  .mannaka{
      text-align: center;
  }
  #kiiro{
      background-color: #ebdf35;
      width: auto;
  }

  #page_top{
    width: 90px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    border: 3px solid black;
    border-radius: 15px;
    z-index: 10;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 60px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    font-size: 25px;
    color: black;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: '最上部へ';
    font-size: 13px;
    color: black;
    position: absolute;
    top: 38px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
.ic1{
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
}

    .ooki{
        font-size: 30px;
    }
    #yokonarabi{
        display: inline;
    }
    .ki{
        background-color: #ebdf35;
        height: 350px;
    }
    .fo{
        font-size: 35px;
        margin-top: 0;
    }
    .list_triangle {
        padding: 0px;
        margin: 5px;
        list-style: none;
    }
    
    .list_triangle > li {
        position: relative;
        padding: 0px 0px 0px 1em;
    }
    .list_triangle > li::before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 0px;
        height: 0px;
        border: 0.3em solid transparent;
        border-left: 0.4em solid black;
        content: "";
}

.deki{
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
}
.font{
    font-size: 30px;
    width: 70%;
    margin: auto;
}
.font2{
    font-size: 15px;
    width: 70%;
    margin: auto;
}
.font3{
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.seventeen{
    margin: auto;
    display: block;
}
.nihon{
    margin: auto;
    display: block;
}
}@media screen and (max-width: 480px) {
    body{
        margin: 0;
        padding: 0;
        background-color: violet;
    
    }
    .ao{
        background-color: skyblue;
    }
    .nani1{
        width: 100%;
        background-repeat: no-repeat ;
    }
    .waku{
        display: block;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        width: 350px;;
    }
    .ic1{
        width: 60%;
        height: auto;
        margin: auto;
        display: block;
    }
    
    .ooki{
        font-size: 15px;
    }
    .ki{
        background-color: #ebdf35;
        height: 300px;
    }
    #ao{
        color: blue;
    }

    #aka{
        color: red;
    }
    .fo{
        font-size: 28px;
        margin-top: 0;
    }

    .list_triangle {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    
    .list_triangle > li {
        position: relative;
        padding: 0px 0px 0px 1em;
    }
    .list_triangle > li::before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 0px;
        height: 0px;
        border: 0.3em solid transparent;
        border-left: 0.4em solid black;
        content: "";
    }
    
    .deki{
        display: block;
        width: 75%;
        height: auto;
        margin: auto;
    }
    .font{
        font-size: 20px;
        width: 70%;
        margin: auto;
    }
    .font2{
        font-size: 15px;
        width: 70%;
        margin: auto;
    }
    .font3{
        font-size: 20px;
        width: 70%;
        margin: auto;
    }#kiiro{
        background-color: #ebdf35;
        width: auto;
    }
    
    .seventeen{
        width: 80%;
        height: auto;
        margin: auto;
        display: block;
        
    }
    .nihon{
        width: 80%;
        height: auto;
        margin: auto;
        display: block;
    }
    .husen{
        width: 40%;
        /* height: auto;
        margin: auto;
        display: block; */
    }

    

    


}.drawer-menu{
        z-index: 11;
      }

      .drawer-menu-item{
        z-index: 12;
      }


      .drawer-hamburger-icon,
      .drawer-hamburger-icon:after,
      .drawer-hamburger-icon:before {
        background-color: #ebdf35;
      }
