body{
    margin: 0%;
    overflow-x: hidden;
    z-index: 1;
}

.top{
    background-image: url(../img/10TOP.png);
    background-size: cover;
    padding-top: 50%;
    z-index: 1;
}

.back{
    background-image: url(../img/haikei_10_.png);
    background-size: cover;
    padding-top: 365%;
    z-index: 1;
}

.text1{
    position: absolute;
    top: 0; 
    left: 0;
    width: 35%; 
    height: 70%; 
    padding: 170px; 
    padding-top: 61%;
    padding-left: 15%;
    text-align: left;
    line-height:1.8em;
    font-size: 145%;
} 

.text2{
    position: absolute;
    top: 0; 
    left: 0;
    width: 35%; 
    height: 70%; 
    padding: 170px; 
    padding-top: 122%;
    padding-right: 15%;
    text-align: left;
    line-height:1.8em;
    font-size: 145%;
} 

.text3{
    position: absolute;
    top: 0; 
    left: 0;
    width: 70%; 
    height: 70%; 
    padding: 170px; 
    padding-top: 163%;
    padding-right: 15%;
    text-align: left;
    line-height:1.8em;
    font-size: 145%;
} 

.title1{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    padding: 170px; 
    padding-top: 210%;
    text-align: left;
    line-height:1.8em;
    font-size: 210%;
} 

.text4{
    position: absolute;
    top: 0; 
    left: 0;
    width: 70%; 
    height: 70%; 
    padding: 170px; 
    padding-top: 215%;
    text-align: left;
    line-height:1.8em;
    font-size: 145%;
} 

.group{
    position: absolute;
    top: 0; 
    left: 0;
    width: 70%; 
    height: 70%; 
    padding: 170px; 
    padding-top: 248%;
    text-align: left;
    line-height:2.8em;
    font-size: 170%;
}

.button{
    position: absolute;
    width: auto;
    height: auto;  
    top: 670%;
    left: 37%;
    background-color: white;
    color: white;
    font-size: 300%;
  }


  .button:hover{
    background-color:#ffffff;
    -webkit-box-shadow:inset 0px 0px 3px #000;
    -moz-box-shadow:inset 0px 0px 3px #000;
    box-shadow:inset 0px 0px 3px #000;
}
  .button:active{
    padding-top:6px;
    padding-bottom:4px;
    border:1px solid #334C66;
    background-color:#69c;
    color:#e0ebf5;
    -webkit-box-shadow:inset 0px 0px 8px #334C66;
    -moz-box-shadow:inset 0px 0px 2px #3A6DA0;
    box-shadow:inset 0px 0px 2px #3A6DA0;
}

.text5{
    position: absolute;
    top: 0; 
    left: 0;
    width: 70%; 
    height: 70%; 
    padding: 170px; 
    padding-top: 310%;
    padding-left: 15%;
    text-align: left;
    line-height: 1.8em;
    font-size: 300%;
} 

.text6{
    position: absolute;
    color: red;
    top: 0; 
    left: 0;
    width: auto; 
    height: 70%; 
    padding: 170px; 
    padding-top: 330%;
    padding-left: 50%;
    text-align: left;
    line-height: 1.8em;
    font-size: 140%;
} 

.aaa{
    position: absolute;
    top: 720%;
    z-index: 2;

}

.webutton{
    position: absolute;
    z-index: 3;
    top: 585%;
    left: 9.8%;
    height: auto;
    width: 80%;
}

.tooltip { /* 補足説明するテキストのスタイル */
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    font-size: 0.9em;
    color: #4682b4;
    z-index: 3;
  }
   
  .description_top { /* ツールチップのスタイル */
    width: 370px; /* 横幅 */
    position: absolute;
    left: 50%;
    bottom: 80%; /* Y軸の位置 */
    transform: translateX(-50%);
    margin-bottom: 8px; /* テキストとの距離 */
    padding: 8px;
    border-radius: 10px; /* 角の丸み */
    background-color: rgb(255, 255, 255);
    font-size: 0.7em;
    color: rgb(0, 0, 0);
    text-align: center;
    visibility: hidden; /* ツールチップを非表示に */
    opacity: 0; /* 不透明度を0％に */
    z-index: 3;
    transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
    border: solid;
    border: 4px solid;
    border: solid;
    border-color: #000000;
  }
   
  .tooltip:hover .description_top { /* マウスオーバー時のスタイル */
    bottom: 100%; /* Y軸の位置 */
    visibility: visible; /* ツールチップを表示 */
    opacity: 1; /* 不透明度を100％に */
  }

      /* フッターの記述 */
      .ooki{
        font-size: 30px;
    }
    #yokonarabi{
        display: inline;
    }
    .ki{
        background-color: #ebdf35;
        height: 350px;
    }
    .fo{
        font-size: 35px;
        margin-top: 0;
    }
    .list_triangle {
        padding: 0px;
        margin: 5px;
        list-style: none;
    }
    
    .list_triangle > li {
        position: relative;
        padding: 0px 0px 0px 1em;
    }
    .list_triangle > li::before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 0px;
        height: 0px;
        border: 0.3em solid transparent;
        border-left: 0.4em solid black;
        content: "";
    }
  
  
  /* ドロワー */
    .mannaka{
        text-align: center;
    }
    #kiiro{
        background-color: #ebdf35;
        width: auto;
    }
  
  
  
  /* ドロワー、フッターに色をつける */
    #ao{
        color: blue;
    }
  
    #aka{
        color: red;
    }
  
  
    /* ドロワー */
    .mannaka{
        text-align: center;
        z-index: 10;
    }
    #kiiro{
        background-color: #ebdf35;
        width: auto;
        z-index: 10;
    }

    #footer{
        padding-top: auto;
        margin-top: -26%;
    }

    #page_top{
        width: 90px;
        height: 60px;
        position: fixed;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        border: 3px solid black;
        border-radius: 15px;
        z-index: 10;
      }
      #page_top a{
        position: relative;
        display: block;
        width: 90px;
        height: 60px;
        text-decoration: none;
      }
      #page_top a::before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f062';
        font-size: 25px;
        color: black;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -25px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
      #page_top a::after{
        content: '最上部へ';
        font-size: 13px;
        color: rgb(37, 13, 13);
        position: absolute;
        top: 38px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }