@media screen and (min-width: 481px) {  
    body{
        background-color: #86A2D2;
        margin: 0;
        padding: 0;
    }
    img{
        width: 100%;
        background-repeat: no-repeat;
    }
    .pi1{
        width: 35vw;
        height: auto;
    }
    .pi2{
        width: 50vw;
        height: auto;
    }
    .pi3{
        display: block;
        margin: auto;
        width: 50vw;
        height: auto;
    }
    .pi4{
        display: block;
        margin: auto;
        width: 60vw;
        height: 30vh;
    }
    .pi5{
        display: block;
        margin: auto;
        width: 80vw;
        height: auto;
    }
    .pi7{
        display: block;
        margin: auto;
        width: 30vw;
        height: auto;
        padding-bottom: 20px;
    }
    
    .naraberu{
        display: block;
        display: flex;
        font-size: 25px;
    }
    .iti{
        margin: 16px auto;
        text-align: center;
        display: block;
    }
    .text1{
        text-align: left;
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
    }
    /* 白枠の処理 */
    .waku{
        margin: auto;
        background-color: white;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
        width: 95%;
    }
    /* ザックリジーズの文字の処理 */
    .font{
        color: white;
    }
    /* ulの処理 */
    .wrap{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;   
    }
    /* liの処理 */
    .item{
        margin: auto;
        padding: 10px;
        float: none;
        width: calc(30% - 15px);
    }
    /* ドロワー、フッターに色をつける */
    #ao{
        color: blue;
    }

    #aka{
        color: red;
    }


    /* ドロワー */
    #big{
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
    }
    .mannaka{
        text-align: center;
        margin-top: 15px;
    }
    #kiiro{
        background-color: #ebdf35;
        width: auto;
    }
    /* 最上部への記述 */
    #page_top{
        width: 90px;
        height: 60px;
        position: fixed;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        border: 3px solid black;
        border-radius: 15px;
        z-index: 10;
      }
      #page_top a{
        position: relative;
        display: block;
        width: 90px;
        height: 60px;
        text-decoration: none;
      }
      #page_top a::before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f062';
        font-size: 25px;
        color: black;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -25px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
      #page_top a::after{
        content: '最上部へ';
        font-size: 13px;
        color: black;
        position: absolute;
        top: 38px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
    /* フッターの記述 */
      .ooki{
        font-size: 30px;
    }
    #yokonarabi{
        display: inline;
    }
    .ki{
        background-color: #ebdf35;
        height: 350px;
    }
    .fo{
        font-size: 35px;
        margin-top: 0;
    }
    .list_triangle {
        list-style: none;
    }
    
    .list_triangle > li {
        position: relative;
        padding: 0px 0px 0px 1em;
    }
    .list_triangle > li::before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 0px;
        height: 0px;
        border: 0.3em solid transparent;
        border-left: 0.4em solid black;
        content: "";
    }
}
@media screen and (max-width: 480px){
    body{
        background-color: #86A2D2;
        margin: 0;
        padding: 0;
    }
    img{
        width: 100%;
        background-repeat: no-repeat;
    }
    .pi1{
        width: 40vw;
        height: auto;
    }
    .pi2{
        display: none;
    }
    .pi3{
        display: block;
        margin: auto;
        width: 80vw;
        height: auto;
    }
    .pi4{
        display: block;
        margin: auto;
        width: 80vw;
        height: auto;
    }
    .pi5{
        display: block;
        margin: auto;
        width: 90vw;
        height: auto;
    }
    .pi7{
        display: block;
        margin: auto;
        width: 40vw;
        height: auto;
        padding-bottom: 20px;
    }
    .naraberu{
        display: flex;
        font-size: 15px;
        background-image: url('rikuyoko.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .bg-text{
        height: 100%;
        background: rgba(255,255,255,0.6);
        
    }
    #moji{
        font-weight: 400;
    }
    .iti{
        margin: 16px auto;
        text-align: center;
        display: block;
    }
    .text1{
        text-align: left;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
    }
    /* 白枠の処理 */
    .waku{
        margin: auto;
        background-color: white;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* ザックリジーズの文字の処理 */
    .font{
        color: white;
        font-size: 15px;
    }
    /* ulの処理 */
    .wrap{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;    
        
    }
    /* liの処理 */
    .item{
        margin: auto;
        padding: 10px;
        float: none;
        width: calc(45% - 15px);
    }
    /* ドロワー、フッターに色をつける */
    #ao{
        color: blue;
    }

    #aka{
        color: red;
    }


    /* ドロワー */
    #big{
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
    }
    .mannaka{
        text-align: center;
        margin-top: 15px;
    }
    #kiiro{
        background-color: #ebdf35;
        width: auto;
    }
    /* 最上部への記述 */
    #page_top{
        width: 90px;
        height: 60px;
        position: fixed;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        border: 3px solid black;
        border-radius: 15px;
        z-index: 10;
      }
      #page_top a{
        position: relative;
        display: block;
        width: 90px;
        height: 60px;
        text-decoration: none;
      }
      #page_top a::before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f062';
        font-size: 25px;
        color: black;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -25px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
      #page_top a::after{
        content: '最上部へ';
        font-size: 13px;
        color: black;
        position: absolute;
        top: 38px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
    /* フッターの記述 */
    .ooki{
        font-size: 15px;
    }
    .ki{
        background-color: #ebdf35;
        height: 300px;
    }
    .fo{
        font-size: 28px;
        margin-top: 0;
    }

    .list_triangle {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    
    .list_triangle > li {
        position: relative;
        padding: 0px 0px 0px 1em;
    }
    .list_triangle > li::before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 0px;
        height: 0px;
        border: 0.3em solid transparent;
        border-left: 0.4em solid black;
        content: "";
    }
    
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #ebdf35;
}

