<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_1.css">
    <title>SDGsって何?</title>
</head>
<body>
  <!-- ドロワー -->    
  <div id="page_top"><a href="#"></a></div>
  <div class="drawer drawer--right">
      <header role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" id="kiiro" role="navigation">
          <ul class="drawer-menu">
            <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>

            <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
            <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
            <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
          </ul>
        </nav>
      </header>
      <main role="main">
        <!-- Page content -->
      </main>
  </div>
  <img class="nani1" src="../static/img/SDGs_nani_top.png" alt="">
  <div >

    <img class="husen" src="../static/img/sdgshusen1.png" alt="">
    <div class="waku">
<img class="ic1" src="../static/img/sdgsn1.png" alt="">
<p class="font">
  　SDGs（エスディージーズ：Sustainable Development Goals持続可能な開発目標）とは、
  2001年に策定されたミレニアム開発目標（MDGs）の後継として、2015年9月の国連サミッ
  トで採択された「持続可能な開発のための2030アジェンダ」にて記載された2016年から2030
  年までの国際目標です。
  </p>

    </div>
<br>
<br><br>
  </div>
  <div class="ao">

    <img class="husen" src="../static/img/sdgshusen2.png" alt="">
    <div class="waku">
      <img class="seventeen" src="../static/img/SDGs17.png" alt="">
      <p class="font">
        　SDGsが掲げる「17の目標」とは、世界中の人々が平等かつ安全に生きることの
        できる社会を作るための目標のことで、17種類それぞれが現在の世界が抱える包
        括的な課題である。 目標の中には飢餓や貧困の問題に対するものもあれば、気候
        や生態系など環境問題に対するものもあります。 <br>
        　SDGs が策定される以前から、世界は社会、環境、経済の問題にそれぞれ取り組ん
        でいました。しかし、SDGsは、それらの問題に対する目標を一つにまとめたとこ
        ろが特徴的です。経済発展だけに取り組むのではなく、環境や社会が抱える問題に
        バランスよく取り組み、その根本的な解決によって、世界を持続させることをSDGs
        では目指しています。また、世代を超えたすべての国、すべての地域の人々が、誰一
        人取り残されることなく、尊重される社会を目指しています。
        </p>
    </div>
<br>
  </div>
 

  <div class="ao">

    <img class="husen" src="../static/img/sdgshusen3.png" alt="">
    <div class="waku">
      <img class="nihon" src="../static/img/nihon.jpg" alt="">
      <p class="font3">
        図1.日本のSDGs達成率
    </p>
    <p class="font2">
      赤は「最大の課題」、オレンジは「重要課題」、黄色は「課題が残っている」、  緑は「達成できている」。進捗を示す矢印は、<br>
      ↑は「達成に向けて進んでいる」、↓は「後退」、→は「停滞」、↗︎は「適度に改善」を意味する ※サイトから引用
      </p>
      <p class="font">
        　日本の進捗への評価に大きな変化はないが、18位という順位自体は2016年に並び
        最も低い。<br>
        　引き続き日本の最大の課題は、目標5(ジェンダー平等を実現しよう)、
        目標13(気候変動に具体的な対策を)、目標14(海の豊かさを守ろう)、目標15(陸の
        豊かさも守ろう)、目標17(パートナーシップで目標を達成しよう)。進捗が後退し
        ているのは目標15。<br>
        　ただし、今回は目標10 (人や国の不平等をなくそう)と目標12
        (つくる責任 つかう責任)の進捗を測るデータが不足し、国内でも注目の集まる肝
        心な課題への取り組みの進捗が不明となっている。 
    </p>
    </div>
    
    <div > 
      <a href="../templates/1_3.html"><img class="deki" class="webutton" src="../static/img/私たちにできること.png" alt=""></a>
  </div>
    <footer id="footer" class="ki">
      <h3 class="fo">ザックリジーズ</h3>
          <ul class="list_triangle">
          <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
          <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
          <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
          <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
          <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
          <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
          </ul>
        </footer>
      </div>
  <script src="index.js"></script>
  <script src="foot.js"></script>
  <script src="kurikku.js"></script>
</body>
</html>