<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="../rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>17の目標</title>
    <!-- CDN読み込み -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/1_2.css">
  
    <title>TOP</title>
</head>
<body> 

    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>

          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
              <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
              <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
              <li class="mannaka"><a id="aka" class="drawer-menu-item"  href="https://forms.gle/GEfzvzJ9ch8dCcP86" target="_blank" rel="noopener noreferrer">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>

    <div class="SUMAHO">
        

            <img class=sumahotop src="../static/img/TOP1-2.png" alt="">




                <a href="../templates/1_2_1.html"><img class=img src="../static/img/1.png" alt=""></a>
                <a href="../templates/1_2_2.html"><img class=img src="../static/img/2.png" alt=""></a>



                <a href="../templates/1_2_3.html"><img class=img src="../static/img/3.png" alt=""></a>
                <a href="../templates/1_2_4.html"><img class=img src="../static/img/4.png" alt=""></a>


                <a href="../templates/1_2_5.html"><img class=img src="../static/img/5.png" alt=""></a>
                <a href="../templates/1_2_6.html"><img class=img src="../static/img/6.png" alt=""></a>



                <a href="../templates/1_2_7.html"><img class=img src="../static/img/7.png" alt=""></a>
                <a href="../templates/1_2_8.html"><img class=img src="../static/img/8.png" alt=""></a>


        
            
                <a href="../templates/1_2_9.html"><img class=img src="../static/img/9.png" alt=""></a>
                <a href="../templates/1_2_10.html"><img class=img src="../static/img/10.png" alt=""></a>
            
        

        
            
                <a href="../templates/1_2_11.html"><img class=img src="../static/img/11.png" alt=""></a>
                <a href="../templates/1_2_12.html"><img class=img src="../static/img/12.png" alt=""></a>
            
        


        
          
                <a href="../templates/1_2_13.html"><img class=img src="../static/img/13.png" alt=""></a>
                <a href="../templates/1_2_14.html"><img class=img src="../static/img/14.png" alt=""></a>
          
        

        
            
                <a href="../templates/1_2_15.html"><img class=img src="../static/img/15.png" alt=""></a>
                <a href="../templates/1_2_16.html"><img class=img src="../static/img/16.png" alt=""></a>
            
        


        <div>
              <a href="../templates/1_2_17.html"><img class=img17 src="../static/img/17.png" alt=""></a>
        </div>
      


        <div>
            <!-- フッターの表記 -->
            <footer id="footer" class="ki">
              <h3 class="fo">ザックリジーズ</h3>
                <ul class="list_triangle">
                  <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
                  <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
                  <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/GEfzvzJ9ch8dCcP86">アンケート</a></li>
                  <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
                  <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
                  <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
  
              </ul>
            </footer>
          </div>


    </div>


    <!-- ここからPC -->

    <div class="PCimg">


        <div class="swiper-container vertical-slider">
            <div class="swiper-wrapper vertical-slider__wrapper">
              <div class="swiper-slide vertical-slider__slide1"><img class="PCTOP" src="../static/img/TOP1-2.png" alt=""></div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_1.html"><img class=img src="../static/img/1.png" alt=""></a></td>
                    <td><a href="../templates/1_2_2.html"><img class=img src="../static/img/2.png" alt=""></a></td>
                </tr>
            </table></div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_3.html"><img class=img src="../static/img/3.png" alt=""></a></td>
                    <td><a href="../templates/1_2_4.html"><img class=img src="../static/img/4.png" alt=""></a></td>
                </tr>
            </table></div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_5.html"><img class=img src="../static/img/5.png" alt=""></a></td>
                    <td><a href="../templates/1_2_6.html"><img class=img src="../static/img/6.png" alt=""></a></td>
                </tr>
            </table></div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_7.html"><img class=img src="../static/img/7.png" alt=""></a></td>
                    <td><a href="../templates/1_2_8.html"><img class=img src="../static/img/8.png" alt=""></a></td>
                </tr>
            </table>
    </div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_9.html"><img class=img src="../static/img/9.png" alt=""></a></td>
                    <td><a href="../templates/1_2_10.html"><img class=img src="../static/img/10.png" alt=""></a></td>
                </tr>
            </table></div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_11.html"><img class=img src="../static/img/11.png" alt=""></a></td>
                    <td><a href="../templates/1_2_12.html"><img class=img src="../static/img/12.png" alt=""></a></td>
                </tr>
            </table>
    </div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_13.html"><img class=img src="../static/img/13.png" alt=""></a></td>
                    <td><a href="../templates/1_2_14.html"><img class=img src="../static/img/14.png" alt=""></a></td>
                </tr>
            </table></div>
              <div class="swiper-slide vertical-slider__slide">
                <table>
                    <tr>
                        <td><a href="../templates/1_2_15.html"><img class=img src="../static/img/15.png" alt=""></a></td>
                        <td><a href="../templates/1_2_16.html"><img class=img src="../static/img/16.png" alt=""></a></td>
                    </tr>
                </table></div>
              <div class="swiper-slide vertical-slider__slide">        <table>
                <tr>
                    <td><a href="../templates/1_2_17.html"><img class=img17 src="../static/img/17.png" alt=""></a></td>
                </tr>
            </table></div>
              <div class="swiper-slide vertical-slider__slide2">                   <footer id="footer" class="ki">
                <h3 class="fo">ザックリジーズ</h3>
                  <ul class="list_triangle">
                    <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
                    <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
                    <li id="yokonarabi"class="ooki"><a id="aka"  href="https://forms.gle/h7mscVGShr7xSgMcA" target="_blank" rel="noopener noreferrer">アンケート</a></li>
                    <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
                    <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
                    <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
    
                </ul>
              </footer></div>
            </div>
            <div class="swiper-pagination vertical-slider__pagination"></div>
          </div>

        </div>


        
    </div>    

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="sride.js"></script>

    <script src="index_1_2.js"></script>
    <script src="foot.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
</body>
</html>