<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/1_2_2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>飢餓に苦しんでいる人々</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">
</head>
<body>

  <img class="sumahotop" src="../static/img/2TOP.png" alt="">

  <img class="kiziimg" src="../static/img/haikei_2.png" alt="">

    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>

          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
              <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
              <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
              <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>
    <div class="top"></div>

    <div class="back"></div>

    <div>
       <p class="text1">持続可能な開発目標、SDGsの目標2「飢餓をゼロに」は、文字通り飢餓で苦しむ人をなくすのが目標であり、食料を安定的に確保し、人々に供給できる世の中を目指します。
        2030年までに飢餓や栄養不良に終止符を打つことをゴールとし、継続的な収益を生み出す仕組みの実現を目標としています。
        
        </p>
    </div>

    <div>
        <p class="text2">飢餓とは長期間に渡って食事を摂る事ができずに栄養不足に陥り、生活と生存が困難な状態を言います。
            飢餓には「突発的な飢餓」と「慢性的な飢餓」があって、「突発的な飢餓」は干ばつや洪水、紛争などの突発的な原因によって発生するもので食料が急激に不足するため多くの人々が餓死に追い込まれることもあります、「慢性的な飢餓」とは農業の生産性が低い、金銭的な問題や不公平な貿易の仕組みによって発生しているため世界から比較的注目されることが少ないです。
            これらの飢餓は食料不足問題によって生まれています、2020年の調査で適切な食料を入手できていない人は世界で23億人以上もいることがわかっています。
            
            </p>
     </div>

    <div>
        <h1 class="title1">国連世界食糧計画（WFP）</h1>
        <p class="text3">世界では主に食糧問題を軸とした支援活動が見受けられます。<br>
            国連世界食糧計画（WFP）では食糧が不足している地域に向けて、食糧の緊急援助等の活動を行っています。 <br> <br>また学校給食支援も行っており、2016年には60か国、1640万人に給食を届けました。
            
            </p>
    </div>

    <div class="group">
    <ul>
        <li>「突発的な飢餓」は干ばつや洪水、紛争などの突発的な原因によって発生するもので食料が急激に不足するため多くの人々が餓死に追い込まれる</li>
        <li>「慢性的な飢餓」は農業の生産性が低い、金銭的な問題や不公平な貿易の仕組みによって発生しているため世界から比較的注目されることが少ない</li>
        <!-- <li>10人に1人が貧困状態にある</li> -->
    </ul>
    </div>


    <div><p class="text4">飢餓にも種類があり、「突発的な飢餓」と「慢性的な飢餓」があります。
        これらの飢餓はどちらも　　　　　　　によって生まれる。
        </p></div>

    <div><p class="text5">※穴埋め箇所をクリックすると正解表示</p></div>

    <div>
        <button class="button1"
        type="button" id="button"> 食料不足問題
        </button>
    </div>

    <!-- <div>
        <button class="button2"
        type="button" id="button1"> 児童労働
        </button>
    </div> -->

    <div class="aaa">
        <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610" ></iframe>
    </div>

    <div class="aaa2">
      <iframe src="../rensyu/aaa.html" frameborder="0" width="300" height="600" ></iframe>
    </div>

    <div> <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a> </div>

    <div>
        <!-- フッターの表記 -->
        <footer id="footer" class="ki">
          <h3 class="fo">ザックリジーズ</h3>
            <ul class="list_triangle">
              <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
              <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
              <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
              <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>

          </ul>
        </footer>
      </div>
      <script src="index.js"></script>
      <script src="foot.js"></script>
      <script src="kurikku.js"></script>
    <script src=button.js></script>
</body>

</html>