<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ファビコンの表記 -->
        <link rel="icon" href="rogo .ico">
        <!-- ここからjsまたjqueryの表記 -->
        <!-- drawer.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
        <!-- jquery & iScroll -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
        <!-- drawer.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
        <!-- cssの表記 -->
        <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_17.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>パートナーシップで目標を達成しよう</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
                <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
                <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
                <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>

<div class="top"></div>

<div class="back"></div>

<div class="text1" >
    <p>
        　SDGsの最後の項目に「パートナーシップで目標を達成しよう」というものがあります。　<br>これはSDGs1～16までの目標を達成するためには、17のような協力が必要だというこ
        　とです。しかし、2018年に援助に使われたお金は、前年に比べ減少しているという問題もあります。
    </p>
</div>

<div>
    <p class="text2">
        誰一人取り残すことなく、すべての人が平和と豊かさを得ることができるためには、先進国が発展途上国に開発は援助などのサポートを行わなければなりません。<br>しかし、国際連合広報センターによると、発展途上国への援助は減少していることが現状です。
        <br>持続可能な開発目標（SDGs）は、すべてのターゲット達成に向けた各国の計画を支援することにより、南北、南南協力を強化することを狙いとしています。
    </p>

    <p class="text3"> 
        国際貿易を推進し、開発途上国の輸出増大を支援することは、公正かつ開放的で、すべての人々に利益をもたらす、ルールに基づく公平な普遍的取引システムの実現に欠かせない要素です。
    </p>
</div>

<div>
    <h1 class="title1">
    カールスバーグ・サーキュラー・コミュニティ
    </h1>
    <p class="text4">
    デンマークの大手ビール会社が2014年に開始したプロジェクトのこと。このプロジェクトはこの大手会社のグループだけでなく、バートナー企業とともに廃棄物をゼロにする「サーキュラー・エコノミー」型の新製品やマーケティング活動を行っています。
    太陽光発電システムで電力供給技術提供の例としてイギリスは発展途上国に対して、電気を供給する取り組みを行いました。また、Wi-fiの設備などのサービスも開始しており、発展途上国の生活向上にも期待されます。
        
    </p>
</div>

<div class="group">
    <ul>
        <li>この目標を達成するためには、全ての国々が協力する必要がある</li>
        <li>目標を達成するための援助が年々減少している</li>
        <li>援助が減少しているが技術的支援を続けている国もあり、途上国の生活の向上に役立っている</li>
    </ul>

</div>

<div> 

    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>
</div>

<div class="aaa">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610"></iframe>

</div>

<div>
    <p class="text5">大手のビール会社が取り組んでいるプロジェクトで、　　　　　　　・　　　　　　型の新製品などでマーケティング活動をしている</p>
</div>

<div>
    <p class="text6">※穴埋め箇所をクリックすると正解表示</p>
</div>

<div>
    <button class="button" id="button" type="button"> 
        サーキュラー
    </button>
</div>

<div>
    <button class="button1" id="button1" type="button"> 
        エコノミー
    </button>
</div>

<!-- フッターの表記 -->
<footer id="footer" class="ki">
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
      </footer>
    </div>
<!-- スクリプトの表記 -->
<script src="index.js"></script>
<script src="foot.js"></script>
<script src="kurikku.js"></script>


<script src="button.js"></script>



</body>
</html>