<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/1_2_4.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>世界の子供に学べる場所を</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">

</head>
<body>

  <img class="sumahotop" src="../static/img/4TOP.png" alt="">

  <img class="kiziimg" src="../static/img/haikei_4.png" alt="">

    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>

          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
              <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
              <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
              <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>
    <div class="top">
    
    </div>

    <div class="back" >
    
    </div>

    <div>
       <p class="text1">SDGs17の目標4つ目、「すべての人々に<span class="tooltip">包摂的<span class="description_top">社会的に弱い立場にある人々をも含め市民ひとりひとり、排除や摩擦、孤独や孤立から援護し、社会の一員として取り込み、支え合う考え方のこと。</span></span>かつ公平で質の高い教育を提供し、生涯学習の機会を促進する」事を目標にしています。世界には教育を受けることができない子どもが多くいます。また、紛争などにより学校に行けずに文字の読み書きができない子どもは7億8,000万人もいます。それだけでなく、文字が読めないことにより大人になった時の収入にも影響を与えます。このことを防ぐために、しっかりと読み書きを教え1人1人が持っている能力を発揮できるような質の高い教育が求められています。

        
        </p>
    </div>

    <div>
        <p class="text2"><span class="red">成人の識字・計算能力が不十分。</span>
            一部地域を除いては世界のほぼすべての子供たちが初等教育を受けられるようになったと言えます。これに伴い成人の識字率や基本的な計算能力の改善が見受けられるようになって来ました。しかしながら、地域による教育の格差が生まれてしまっている問題があります。
            サブサハラ・アフリカ諸島では40%、南アジア諸島では30％、中近東・北アフリカ諸島では20％の人々が文字を読めないという状態です。サハラ以南のアフリカ地域、西アジア地域、南アジア地域では、5人に1人が小学校に通えていません。一部地域では勉強はしなくても働けるという考えで、子供に勉強をさせる意欲が不足している親が多い事も問題となっております。
            
            
            </p>
     </div>

    <div>
        <h1 class="title1">学校の建設</h1>
        <p class="text3">世界で起きている教育問題に対して、様々な支援が行われています。
            学校の建設や設備の拡充などは世界中で行われており、多くの発展途上国では農村部からでも学校に行けるようになりました。<br>
            しかしその反面、既存の学校が<span class="tooltip">インフラ<span class="description_top">基盤、下部構造などの意味を持つ英単語。 上下水道、発電所治水施設などの公共的・公益的な設備や施設、構造物などを指すことが多い</span></span>によって崩壊する事も珍しくはありません。
            ちゃくちゃくと目標に近づく一方、いまだ沢山の寄付が必要になっている現状です。
            
            </p>
    </div>

    <div class="group">
    <ul>
        <li>初等教育を受ける国が多くなっている一方で、まだ教育を受けることができない地域もあり教育の格差が広がっている</li>
        <li>しっかりと教育を受けることが出来る国も増え少しづつ改善しているが、まだ支援が必要な国もある</li>
    </ul>
    </div>


    <div><p class="text4">子供が紛争などによって教育を受けられずに成人になってしまうと　　・　　　　が不十分になってしまう。</p></div>

    <div><p class="text5">※穴埋め箇所をクリックすると正解表示</p></div>

    <div>
        <button class="button1"
        type="button" id="button"> 識字
        </button>
    </div>

    <div>
        <button class="button2"
        type="button" id="button1"> 計算能力
        </button>
    </div>

    <div class="aaa">
        <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610" ></iframe>
    </div>

    <div class="aaa2">
      <iframe src="../rensyu/aaa.html" frameborder="0" width="300" height="600" ></iframe>
    </div>

    <div> <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a> </div>

    <div>
      <!-- フッターの表記 -->
      <footer id="footer" class="ki">
        <h3 class="fo">ザックリジーズ</h3>
          <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>

        </ul>
      </footer>
    </div>
    <script src="index.js"></script>
    <script src="foot.js"></script>
    <script src="kurikku.js"></script>
    <script src=button.js></script>
</body>

</html>