<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/1_2_3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>すべての人に平等な福祉を</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">
</head>
<body>

  <img class="sumahotop" src="../static/img/3TOP.png" alt="">

  <img class="kiziimg" src="../static/img/haikei_3.png" alt="">

    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>

          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
              <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
              <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
              <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>
    <div class="top">
    
    </div>

    <div class="back" >
    
    </div>

    <div>
       <p class="text1">SDGsの目標3「すべての人に健康と福祉を」では、あらゆる年齢のすべての人の健康的な生活を確保し、福祉を推進することを課題としています。
        あらゆる年齢のすべての人の健康な生活を確保し、福祉を増進することは、豊かな社会を構築するために必要な要素です。健康な生活と福祉を増進することは、人間を幸福にすることにつながります。
        人種、宗教、政治信条や経済的・社会的条件によって差別されることなく、最高水準の健康に恵まれることは、 あらゆる人々にとっての基本的人権の一つと考えられます。
        
        </p>
    </div>

    <div>
        <p class="text2">2017年には5歳になる前に命を落とす子どもは540万人にも昇ります。そして、生後1カ月間に亡くなった新生児の数は250万人と半数近くを占めています。
            子どもたちが安全で健康に生きていくためには「安全な水」「衛生環境」「安定した栄養の摂取」は欠かせません。
            栄養不足で体力が落ち、免疫も弱っている状態のときに汚れた水や不衛生な環境に接すれば感染症や伝染病にかかりやすくなるのです。
            そこでSDGsでは安全な水を届けることができるような井戸などの給水設備の設置、衛生的なトイレや下水施設の建設、衛生施設までのアクセスの整備が目標と定められて取り組みが行われています。
            
            </p>
     </div>

    <div>
        <h1 class="title1">命のパスポート「母子手帳」</h1>
        <p class="text3">日本で生まれた母子手帳が、今、途上国を中心に世界に広まっており、お母さんと子どもの継続した健康維持に役立っています。
            パレスチナでは2008年に、世界初のアラビア語版母子手帳が発行され、紛争によって難民となった母と子どもは、避難先でも母子手帳のおかげで継続して医療サービスが受けられました。 <br>
            母子手帳があることで、これまで通っていた保健所や病院に通えなくなっても、別の保健所などで引き続き予防接種や乳児検診が受けられるようにもなりました。
            
            </p>
    </div>

    <div class="group">
    <ul>
        <li>子供たちが安全に生きていくためには安全な環境が必要</li>
        <li>母子手帳が発行されたおかげで医療サービスを受けれる子供が増えている</li>
        <li>SDGsでは安全な給水設備の設置、綺麗なトイレを設置している</li>
    </ul>
    </div>


    <div><p class="text4">子供たちが安全で健康的に暮らせるため<br>には　　　　と　　　　、安定した栄養の摂取が必要。</p></div>

    <div><p class="text5">※穴埋め箇所をクリックすると正解表示</p></div>

    <div>
        <button class="button1"
        type="button" id="button"> 安全な水
        </button>
    </div>

    <div>
        <button class="button2"
        type="button" id="button1"> 環境衛生
        </button>
    </div>

    <div class="aaa">
        <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610" ></iframe>
    </div>

    <div class="aaa2">
      <iframe src="../rensyu/aaa.html" frameborder="0" width="300" height="600" ></iframe>
    </div>

    <div> <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a> </div>

    <div>
      <!-- フッターの表記 -->
      <footer id="footer" class="ki">
        <h3 class="fo">ザックリジーズ</h3>
          <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>

        </ul>
      </footer>
    </div>
    <script src="index.js"></script>
    <script src="foot.js"></script>
    <script src="kurikku.js"></script>
    <script src=button.js></script>
</body>

</html>