<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="../rogo .ico">
    
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_11.css">
    <title>住み続けられるまちづくりを</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
  <div class="drawer drawer--right">
      <header role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" id="kiiro" role="navigation">
          <ul class="drawer-menu">
            <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>

            <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
            <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
            <li class="mannaka"><a id="aka" class="drawer-menu-item"  href="https://forms.gle/GEfzvzJ9ch8dCcP86" target="_blank" rel="noopener noreferrer">アンケート</a></li>
          </ul>
        </nav>
      </header>
      <main role="main">
        <!-- Page content -->
      </main>
  </div>
  <img class="nani1" src="../static/img/11TOP.png" alt="">
  <div >
    <img class="husen" src="../static/img/mondaihusen1.png" alt="">
    <div class="waku">

<p class="font">
    <img class="ic1" src="../static/img/r11.png" alt="">
    <p class="text1">SDGsの目標11に「住み続けられるまちづくりを」というものがあります。これは、誰もが安全に暮らせることを達成するために取り組まれています。<br>
        しかし、年々干ばつや<span class="tooltip">スーパー台風<span class="description_top">日本の気象庁の定義 スーパー台風は、米軍合同台風警報センター（JTWC）が台風の強さを分類するうちのひとつで、最も強い区分になります。 </span></span>、豪雨などが増加しており様々な人が食料危機などにさらされていま。また、世界では数多くのスラム街が存在しています。
    </p>
  </p>
</div>
<div class="ao">
    <img class="husen" src="../static/img/mondaihusen2.png" alt="">
    <div class="waku">
      <p class="text2">
        現在、世界の人口の半数以上は都市部で生活しており、2030年には6割りまでに膨れ上がると想定されています。
    人々が都市部に移り住む理由の多くは、所得の増加や効果的なサービス、交通手段の恩恵を受けられる可能性があり、技術革新や経済成長をもたらす機会が広がるためと言われています。<br><br>
    もちろん、それ以外の理由もありますが、都市部に移り住む人が多くなるのであれば、生活の安全面や環境で深刻な問題を引き起こし、貧困層の生活はさらに厳しいものになってしまいます。
    具体的なものとしては、都市部に必ずといって良いほどできる<span class="tooltip">スラム<span class="description_top">スラムは都市部で貧民層が集中して住んでいるエリアです。<br><br> 他のエリアで通常、受けられる公共サービスが無く荒廃しているのが特徴と言えます。 世界の中で大都市と呼ばれるエリアのほとんどに存在している状況です。</span></span>の問題への取り組みや、すべての人々への公共交通サービスの提供、定期的かつ民主的な都市部の開発計画、水関連災害などの自然災害の被害と経済損失への対策などが盛り込まれています。
            </p>
        </p>
        <img class="ic2" src="../static/img/1_2_11.png" alt="">
    </div><img class="husen" src="../static/img/mondaihusen3.png" alt="">
    <div class="waku2">
        <div>
        <img class="ic3" src="../static/img/取り組み_11.jpg" alt="">
        <h1 class="title1">国連人間居住計画(国連タビハット)</h1></div>
        <p class="text2">国連が決議したSDGsの目標11の問題を解決するための取り組み。スラム街や都市化問題などの課題を調査し改善していくことを目的としています。<br<br>
            実際に、ケニア政府と協力し、キベラスラムに対して、新住居を提供しスラム街を抹消する計画が実行されています。
            </p>
        </p>
    </div>
    <img class="husen" src="../static/img/mondaihusen4.png" alt="">
    <div class="waku2">
        <div class="group">
            <ul>
                <li>世界の人口の半数以上は都市部で生活している</li>
                <li>世界では自然災害で被害が出ている国や、スラム街などが多く苦しい生活を強いられている人が多い。</li>
                <li>都市化が進むことにより、車が増え地球温暖化が進んでいる</li>
            </ul>
            </div>
    </div>
    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>


<div class="yell">
    <img class="husen" src="../static/img/mondaihusen5.png" alt="">
    <div class="waku2">

<div><p class="text4">年々干ばつや<button class="button1" id="button">スーパー台風</button>　　　　　　、豪雨、<button class="button2" id="button1"> 食糧危機</button>　　　　　などが増加している。</p>
    <!--button class="button2" id="button1">児童労働</button>　　　　を強いられている子どもがたくさんいる。</div-->

<p class="text5">※穴埋め箇所をクリックすると正解表示</p>
 
</div>
</div>
</div>
</div>
<div class="yoko">
  
  <div>
    <a href="../templates/1_2_1.html" target="_top">
  <img src="../static/img/r1.png"></a>
  </div>
  <div>
    <a href="../templates/1_2_2.html" target="_top">
      <img src="../static/img/r2.png"></a>
  </div>
  <div>
    <a href="../templates/1_2_3.html" target="_top">
      <img src="../static/img/r3.png"></a>
  </div>
  <div>
    <a href="../templates/1_2_4.html" target="_top">
      <img src="../static/img/r4.png"></a>
  </div> 
  <div>
    <a href="../templates/1_2_5.html" target="_top">
      <img src="../static/img/r5.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_6.html" target="_top">
        <img src="../static/img/r6.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_7.html" target="_top">
        <img src="../static/img/r7.png"></a>
   
    </div>
    
    <div>
      <a href="../templates/1_2_8.html" target="_top">
        <img src="../static/img/r8.png"></a>
    </div> 
    <div>
      <a href="../templates/1_2_9.html" target="_top">
        <img src="../static/img/r9.png"></a>
    </div>
    <div>
      <a href="../templates/1_2_10.html" target="_top">
        <img src="../static/img/r10.png"></a>
    </div>
    
    <div>
      <a href="../templates/1_2_11.html" target="_top">
        <img src="../static/img/r11.png"></a>
   
    </div>
    
    <div>
      <a href="../templates/1_2_12.html" target="_top">
        <img src="../static/img/r12.png"></a>
    </div> 
  <div>
    <a href="../templates/1_2_13.html" target="_top">
      <img src="../static/img/r13.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_14.html" target="_top">
        <img src="../static/img/r14.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_15.html" target="_top">
        <img src="../static/img/r15.png"></a>
   
    </div>
    
    <div>
      <a href="../templates/1_2_16.html" target="_top">
        <img src="../static/img/r16.png"></a>
    </div> 
    <div>
      <a href="../templates/1_2_17.html" target="_top">
        <img src="../static/img/r17.png"></a>
      </div> 
  </div>
<div>
<footer  class="ki" >
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
        <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
        <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
        <li id="yokonarabi"class="ooki"><a id="aka"  href="https://forms.gle/GEfzvzJ9ch8dCcP86" target="_blank" rel="noopener noreferrer">アンケート</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
</footer>
</div>



  <script src="index_1_2.js"></script>
  <script src="foot.js"></script>
  <script src="kurikku.js"></script>
  <script src="button.js"></script>
  <script src="slickaaa.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/js/6-1-6.js"></script>
</body>
</html>