<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ファビコンの表記 -->
        <link rel="icon" href="rogo .ico">
        <!-- ここからjsまたjqueryの表記 -->
        <!-- drawer.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
        <!-- jquery & iScroll -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
        <!-- drawer.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
        <!-- cssの表記 -->
        <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_9.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>産業と技術革新の基盤をつくろう</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
                <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
                <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
                <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>

    <img class="sumahoTop" src="../static/img/9TOP.png" alt="">

    <img class="sumahokizi" src="../static/img/haikei_9_.png" alt="">

<div class="top"></div>

<div class="back"></div>

<div class="text1" >
    <p>
    世界では産業化が進んでいる地域と大きく遅れている地域の格差が拡大していることが問題となっています。<br>
    ここではSDGsの目標9「産業と技術革新の基盤をつくろう」に関して世界の現状や解決するべき課題について解説します。
        
    </p>
</div>

<div>
    <p class="text2">
    持続可能な産業発展においては、その基盤となる水やそれを得るための水道、電気、インターネットの整備は不可欠です。<br>
    しかもそれらを安価かつ公平にアクセスできるようにすることは、福祉の向上にもつながります。
    それが分かっていても、世界では約26億人が不安定な電力の中で生活し、約8億人が安定した水資源を得られない状態にあります。<br>
    これにより安定・安全な生活を送れない、不衛生な環境など公衆衛生の問題が起こるだけでなく、企業の生産性にも影響していると言われています。
    </p>
    <p class="text3"> 
        実際、開発途上国であるアフリカ諸国では<span class="tooltip">インフラ<span class="description_top">基盤、下部構造などの意味を持つ英単語。 上下水道、発電所治水施設などの公共的・公益的な設備や施設、構造物などを指すことが多い</span></span>の整備が十分ではなく、その生産性が約40％も失われているとの報告もあるのです。   
    </p>
</div>

<div>
    <h1 class="title1">
    CSR（企業の社会的責任）
    </h1>
    <p class="text4">
        従来から、CSR（企業の社会的責任）を果たす一環として、SDGsの各目標をクリアすることを目指した外部向けのPRを行っている企業が増えています。<br><br>
        今後は、SDGsの達成に取り組んでいる企業の商品やサービスを多くの消費者が選択するケースも増え、中長期的には収益向上に繋がるものと考えられているからです
    </p>
</div>

<div class="group">
    <ul>
        <li>世界では水や電気などライフラインが整っていない国が多く、多くの人が苦しんでいる</li>
        <li>SDGsの達成に取り組んでいる企業の商品やサービスを多くの消費者が選択するケースも増えている</li>
        <li>主に発展途上国などでは十分なインフラがなく、生産性が低くなっている</li>
    </ul>
</div>

<div> 
    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>
</div>

<div class="aaa">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610"></iframe>
</div>

<div class="aaa2">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="280" height="600"></iframe>
</div>


<div>
    <p class="text5">　持続可能な産業発展において大事なことは、　　、電気、　　　　　　　が必要不可欠である。</p>
</div>

<div>
    <p class="text6">※穴埋め箇所をクリックすると正解表示</p>
</div>

<div>
    <button class="button" id="button" type="button"> 
        水道
    </button>
</div>

<div>
    <button class="button1" id="button1" type="button"> 
        インターネット
    </button>
</div>
<!-- フッターの表記 -->
<footer id="footer" class="ki">
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
      </footer>
    </div>
<!-- スクリプトの表記 -->
<script src="index.js"></script>
<script src="foot.js"></script>
<script src="kurikku.js"></script>

<script src="button.js"></script>



</body>
</html>