<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ファビコンの表記 -->
        <link rel="icon" href="rogo .ico">
        <!-- ここからjsまたjqueryの表記 -->
        <!-- drawer.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
        <!-- jquery & iScroll -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
        <!-- drawer.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
        <!-- cssの表記 -->
        <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_12.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>つくる責任 つかう責任</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
                <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
                <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
                <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>

<div class="top"></div>

<div class="back"></div>

<div class="text1" >
    <p>
    SDGsの目標12「つくる責任 つかう責任」は持続可能な生産消費形態を確保することを目的としています。<br>
    少ない資源で、良質でより多くのものを得られるように生産や消費ができる状態にする為に目標12があります。
        
    </p>
</div>

<div>
    <p class="text2">
        1970年代以降、人類の資源が地球の供給量を超えている状態の「オーバーシュート」が続いています。
        2010年には、人類全体で生活するには地球が1.5個必要になる計算でした。<br>
        資源をつくり出していく生産者には、より質が高く、より多くの資源の開発に努力する、いわゆる「つくる責任」が望まれます。
        一方で、地球環境への配慮から生産するプロセスでは廃棄物の発生は最小限に抑制する方法を見つけだしていく必要があります。

        
    </p>
    <p class="text3">
        また、つくる側の責任として付け加えたいのは、消費側に提供した後のリサイクルやリユースで協力してもらう“呼び掛け”姿勢も大切なポイントになります。
        この協力への喚起には、政・官界、メディアを含む国を挙げての体制づくりを目指すことが望まれます。
    </p>
</div>

<div>
    <h1 class="title1">
    食品ロスの削減の推進に関する法律
    </h1>
    <p class="text4">
    国レベルの取り組みとしては、令和元年に「食品ロスの削減の推進に関する法律」が施行されました。
    これは食品ロスの削減へ向けて作られた法律で、たとえば食品ロスの削減に対して理解や関心を深めるために、毎年10月を「食品ロス削減月間」、10月30日を「食品ロス削減の日」とすることなどが定められています。<br><br>
    身近な所で行われている取り組みは、「イオン株式会社」はグループ全体で「食品廃棄物半減」への取り組みを行っています。
        
    </p>
</div>

<div class="group">
    <ul>
        <li>人間の需要が地球の供給より上回っている</li>
        <li>世界では多くの食品ロスが発生している</li>
        <li>人類の資源が地球の供給量を超えている状態の「オーバーシュート」が続いている</li>
    </ul>

</div>

<div class="aaa">

    <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610"></iframe>
</div>

<div> 
    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>

</div>

<div>
    <p class="text5">人類の人類の資源が地球の供給量を超えている状態を　　　　　　　　　と言う。</p>
</div>

<div>
    <p class="text6">※穴埋め箇所をクリックすると正解表示</p>
</div>

<div>
    <button class="button" id="button" type="button"> 
        オーバーシュート
    </button>
</div>

<!-- フッターの表記 -->
<footer id="footer" class="ki">
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
      </footer>
    </div>
<!-- スクリプトの表記 -->
<script src="index.js"></script>
<script src="foot.js"></script>
<script src="kurikku.js"></script>


<script src="button.js"></script>



</body>
</html>