<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ファビコンの表記 -->
        <link rel="icon" href="rogo .ico">
        <!-- ここからjsまたjqueryの表記 -->
        <!-- drawer.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
        <!-- jquery & iScroll -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
        <!-- drawer.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
        <!-- cssの表記 -->
        <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_8.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>働きがいも経済成長も</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
                <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
                <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
                <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>

    <img class="sumahoTop" src="../static/img/8TOP.png" alt="">

    <img class="sumahokizi" src="../static/img/haikei_8_.png" alt="">

<div class="top">
</div>

<div class="back"></div>

<div class="text1" >
    <p>
    SDGs17の目標の「働きがいも経済成長も」では、世界の人々が経済的に豊かに暮らせることや、
    働きがいのある人間らしい仕事を増やすことを目標としています。<br>しかし、世界の最も貧しい
    国では、5歳から17歳までの子供の4人に1人が、労働を強いられています。
    </p>
</div>

<div>
    <p class="text2">
    経済活動は生きていく上で必要不可欠なものであり、賃金を得なければ生きていけません。
    また経済の成長・発展は就業している人々なしには成り立たず、産業の<span class="tooltip">多様<span class="description_top">多様とは、幅広く性質の異なる群が存在すること。性質に類似性のある群が形成される点が特徴で、単純に「いろいろある」こととは異なる。</span></span>化やより生産性の高い産業の拡大が必要不可欠となってきます。
    そういった中で問題になるのが、就業する人々の収入や労働環境です。
    地域や環境によっては収入や健康、教育、就業機会などで著しく不利な立場に置かれてしまい、正当な収入を得られない、正規雇用をしてもらえないなどの不利益を得ることも少なくありません。
    </p>
    <p class="text3">    
    現在、世界では5人に1人の若者が、教育や職業訓練を受けられず、仕事にもつけない状態です。中央
    ・南アジアや、北アフリカ・西アジアでは4人に1人と、とても深刻な状況です。それだけでなくあるデー
    タでは世界の失業者の数は、15歳～24歳の若者が全体の35％を占めていると言われています。
    </p>
</div>

<div>
    <h1 class="title1">
    平等な雇用環境
    </h1>
    <p class="text4">
    コカ・コーラ社が実施している制度です。この制度は全てのメンバーがトレーニングを受けることの
    出来る環境を提供し、参加者が生活力に自信をつけ、自分の将来を構築できるようにすることを目的
    としています。<br>実際に多くの参加者がこの制度の恩恵を受けており、若者の将来のための力となっています。
    </p>
</div>

<div class="group">
    <ul>
        <li>世界では多くの子供が労働を強いられている</li>
        <li>世界では多くの失業者がおり、その中でも若者の失業率が高く将来に影響を及ぼしている</li>
        <li>将来的には若者の就業を阻害している</li>
    </ul>

</div>

<div> 
    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>
</div>

<div class="aaa">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610"></iframe>
</div>

<div class="aaa2">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="280" height="600"></iframe>
</div>

<div>
    <p class="text5">世界の失業者の数は、15歳～24歳の若者が全体の　　%を占めていると言われている。</p>
</div>

<div>
    <p class="text6">※穴埋め箇所をクリックすると正解表示</p>
</div>

<div>
    <button class="button" id="button" type="button"> 
        35
    </button>
</div>
<!-- フッターの表記 -->
<footer id="footer" class="ki">
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
      </footer>
    </div>
<!-- スクリプトの表記 -->
<script src="index.js"></script>
<script src="foot.js"></script>
<script src="kurikku.js"></script>

<script src="button.js"></script>
</body>
</html>