<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="../rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_10.css">
    <title>人や国の不平等をなくそう</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
  <div class="drawer drawer--right">
      <header role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" id="kiiro" role="navigation">
          <ul class="drawer-menu">
            <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>

            <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
            <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
            <li class="mannaka"><a id="aka" class="drawer-menu-item"  href="https://forms.gle/GEfzvzJ9ch8dCcP86" target="_blank" rel="noopener noreferrer">アンケート</a></li>
          </ul>
        </nav>
      </header>
      <main role="main">
        <!-- Page content -->
      </main>
  </div>
  <img class="nani1" src="../static/img/10TOP.png" alt="">
  <div >
    <img class="husen" src="../static/img/mondaihusen1.png" alt="">
    <div class="waku">

<p class="font">
  <img class="ic1" src="../static/img/r10.png" alt="">
    <p class="text1">持続可能な開発目標SDGsの目標10では人や国の不平等をなくすことを目指し各国家が取り組みを進めています。
      性別や年齢をはじめ障がい、人種、民族などを理由をする差別が今も存在しており、それは人と人との間だけでなく国家間でも広がっています。
    </p>
  </p>
</div>
<div class="ao">
    <img class="husen" src="../static/img/mondaihusen2.png" alt="">
    <div class="waku">
      <p class="text2">
        グローバル化が進む中で人や物、お金などが自由に移動できるようになったことで、先進国と途上国両方で富豪と貧困者の間の格差は大きなものとなってしまいました。<br><br>
        また世界で最も豊かな資産家である62人の総資産額は、世界人口の半分である35億人の総所得に匹敵しているとされ、貧富の二極化が起こっています。<br>これにより経済成長が阻害され、貧困削減への努力を妨げ、国家間の緊張を高め、社会不安を煽ることとなっています。    
        さらに政治的、経済的、社会的な機会の不平等から民族やジェンダー、性的マイノリティー、難民といった特定の社会グループが教育や政治的参加の機会を奪われることによって、親から子への貧困の世代間連鎖や社会の分断が起こることになり、これらが<span class="tooltip">経済格差<span class="description_top">所得や資産が多い人と少ない人の差が広がっているということ。</span></span>などにさらなる影響を与えてしまうことも課題となっています。
            </p>
        </p>
        <img class="ic2" src="../static/img/1_2_10.png" alt="">
    </div><img class="husen" src="../static/img/mondaihusen3.png" alt="">
    <div class="waku2">
        <div>
        <img class="ic3" src="../static/img/取り組み_10.jpg" alt="">
        <h1 class="title1">多くの人に影響を与えたApple社の取り組み</h1></div>
        <p class="text2">Apple は、2015年4月8日にアップルiOSに約300の新しい絵文字を加えると発表。その中には、黒人や黄色人種のキャラクター、同性カップルの家族の絵文字などが含まれました。<br><br>
          2019年7月17日の「国際絵文字デー」には、同年度の秋より絵文字がさらに増えると発表。同性同士や異人種のカップル、車椅子や白状を使う人、盲導犬、義足などの、多様人種に対応した新しい絵文字も使えるようになりました。
            </p>
        </p>
    </div>
    <img class="husen" src="../static/img/mondaihusen4.png" alt="">
    <div class="waku2">
        <div class="group">
            <ul>
              <li>世界では性別や障がい、ジェンダーなどで差別されている人が多くいる</li>
              <li>差別だけでなく富裕層と貧困層の二極化が進んでおり、経済への影響も大きい</li>
              <li>Apple社の取り組みによって、同性愛などが徐々に認められてきた</li>
            </ul>
            </div>
    </div>
    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>


<div class="yell">
    <img class="husen" src="../static/img/mondaihusen5.png" alt="">
    <div class="waku2">

      <div><p class="text4">差別問題は性別や年齢をはじめ障がい、人種、民族など多くの理由があり、人と人の間だけでなく<button class="button1" id="button">国家間</button>　　　　でも起こっている。
        <!--button class="button2" id="button1">児童労働</button>　　　　を強いられている子どもがたくさんいる。</div-->
    
    <p class="text5">※穴埋め箇所をクリックすると正解表示</p>
     
 
  </div>
</div>
</div>
</div>
<div class="yoko">
  
  <div>
    <a href="../templates/1_2_1.html" target="_top">
  <img src="../static/img/r1.png"></a>
  </div>
  <div>
    <a href="../templates/1_2_2.html" target="_top">
      <img src="../static/img/r2.png"></a>
  </div>
  <div>
    <a href="../templates/1_2_3.html" target="_top">
      <img src="../static/img/r3.png"></a>
  </div>
  <div>
    <a href="../templates/1_2_4.html" target="_top">
      <img src="../static/img/r4.png"></a>
  </div> 
  <div>
    <a href="../templates/1_2_5.html" target="_top">
      <img src="../static/img/r5.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_6.html" target="_top">
        <img src="../static/img/r6.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_7.html" target="_top">
        <img src="../static/img/r7.png"></a>
   
    </div>
    
    <div>
      <a href="../templates/1_2_8.html" target="_top">
        <img src="../static/img/r8.png"></a>
    </div> 
    <div>
      <a href="../templates/1_2_9.html" target="_top">
        <img src="../static/img/r9.png"></a>
    </div>
    <div>
      <a href="../templates/1_2_10.html" target="_top">
        <img src="../static/img/r10.png"></a>
    </div>
    
    <div>
      <a href="../templates/1_2_11.html" target="_top">
        <img src="../static/img/r11.png"></a>
   
    </div>
    
    <div>
      <a href="../templates/1_2_12.html" target="_top">
        <img src="../static/img/r12.png"></a>
    </div> 
  <div>
    <a href="../templates/1_2_13.html" target="_top">
      <img src="../static/img/r13.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_14.html" target="_top">
        <img src="../static/img/r14.png"></a>
    
    </div>
    
    <div>
      <a href="../templates/1_2_15.html" target="_top">
        <img src="../static/img/r15.png"></a>
   
    </div>
    
    <div>
      <a href="../templates/1_2_16.html" target="_top">
        <img src="../static/img/r16.png"></a>
    </div> 
    <div>
      <a href="../templates/1_2_17.html" target="_top">
        <img src="../static/img/r17.png"></a>
      </div> 
  </div>
<div>
<footer  class="ki" >
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
        <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
        <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
        <li id="yokonarabi"class="ooki"><a id="aka"  href="https://forms.gle/GEfzvzJ9ch8dCcP86" target="_blank" rel="noopener noreferrer">アンケート</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
</footer>
</div>



  <script src="index_1_2.js"></script>
  <script src="foot.js"></script>
  <script src="kurikku.js"></script>
  <script src="button.js"></script>
  <script src="slickaaa.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/js/6-1-6.js"></script>
</body>
</html>