<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ファビコンの表記 -->
        <link rel="icon" href="rogo .ico">
        <!-- ここからjsまたjqueryの表記 -->
        <!-- drawer.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
        <!-- jquery & iScroll -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
        <!-- drawer.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
        <!-- cssの表記 -->
        <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_14.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>海の豊かさを守ろう</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
                <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
                <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
                <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>

    <img class="sumahoTop" src="../static/img/14TOP.png" alt="">

    <img class="sumahokizi" src="../static/img/haikei_14_.png" alt="">
<div  class="top"></div>

<div  class="back"></div>

<div class="text1" >
    <p>
    SDGs14の目標、海の豊かさを守ろうでは「海と海洋資源を守り、持続可能な利用を促進する」事を目標にして活動しています。<br>
    海洋・沿岸の生態系の保護や海洋汚染を予防するとともに海洋資源の持続可能な利用を促進し、発展途上の経済的利益を上げようとしています
    </p>
</div>

<div>
    <p class="text2">
    海の生き物は海洋汚染による影響によって、すでに絶滅の危機にある生物もいますが、その原因は海洋汚染だけではなく違法な漁業が行なわれている事も理由としてあげられます。
    個体数の現象が進んでいる生物の乱獲が進むと生物多様性のバランスが崩れ、最悪の場合絶滅にいたってしまいます。　水産資源の30％は違法な乱獲がされており、これは水産資源に頼って生きている数千万人もの人々の生活を脅かしています。
    昨今では、海の汚染の原因としてプラスチックごみの投棄も大きな要因であると言われています。いわゆるマイクロプラスチック問題です。
    </p>

    <p class="text3">
    マイクロプラスチック問題に対しては、そもそも製造の段階でプラスチックを使わない代替製品に切り替えるという取り組みがなされています。  
    </p>
</div>

<div>
    <h1 class="title1">
    ザ・オーシャン・クリーンアップ
    </h1>
    <p class="text4">
    世界では「ザ・オーシャン・クリーンアップ」と呼ばれるプロジェクトが行われている、
    実は海に浮かぶゴミ等は波の影響で一か所に集まる場所があり太平洋では<span class="tooltip">太平洋ゴミベルト<span class="description_top">北太平洋の中央にかけての海洋ごみが多い海域を指す。</span></span>と呼ばれる70万平方キロに渡るゴミの帯が存在しています。<br>
    ザ・オーシャン・クリーンアップでは全長600メートルのフェンスを大きな船で引っ張りながらゴミベルトを進む事によって大量のゴミを回収しています。
    このゴミ収集フェンスは5ｍｍ程度のマイクロプラスチックを回収できることからかなり有効的な手段と言えるでしょう。
        
    </p>
</div>

<div> 
    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>
</div>

<div class="group">
    <ul>
        <li>マイクロプラスチック問題が海を汚す一番の原因になっている</li>
        <li>水産資源の乱獲も海の生態系を崩す原因になっている</li>
        <li>「ザ・オーシャン・クリーンアップ」と呼ばれるプロジェクトが行われている</li>
    </ul>

</div>

<div class="aaa">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610"></iframe>
</div>

<div class="aaa2">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="280" height="600"></iframe>
</div>

<div>
    <p class="text5">海の汚染の原因としてプラスチックごみの投棄も大きな要因であると言われています。いわゆる<button class="button" id="button" type="button">マイクロプラスチック</button>　　　　　　　　　　問題です。</p>
</div>

<div>
    <p class="text6">※穴埋め箇所をクリックすると正解表示</p>
</div>

<div>
    
    
    </button>
</div>

<!-- フッターの表記 -->
<footer id="footer" class="ki">
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
      </footer>
    </div>
<!-- スクリプトの表記 -->
<script src="index.js"></script>
<script src="foot.js"></script>
<script src="kurikku.js"></script>

<script src="button.js"></script>



</body>
</html>