<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ファビコンの表記 -->
        <link rel="icon" href="rogo .ico">
        <!-- ここからjsまたjqueryの表記 -->
        <!-- drawer.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
        <!-- jquery & iScroll -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
        <!-- drawer.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
        <!-- cssの表記 -->
        <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_13.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>気候変動に具体的な対策を</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
                <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
                <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
                <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
                <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>

<div class="top"></div>

<div class="back"></div>

<div class="text1" >
    <p>
    SDGsの目標13では「気候変動に具体的な対策を」講じることが目指されています。気候変動は先進国、開発途上国を問わず、国境を越えて取り組むべき課題です。<br>
    天候の変化や海面水位の上昇、異常気象など、既に世界中で気候変動の影響が顕在化しています。その影響は、農業生産、飲料水の確保、生態系保全、エネルギー供給、インフラなどあらゆる分野に及びます。
    </p>
</div>

<div>
    <p class="text2">
        近年、私たちのまわりでは豪雨災害が頻発していますが、
        その原因のひとつが「地球温暖化」による気候の変動と考えられています。<br><br>
        地球温暖化とは、人間の便利な暮らしや経済活動の中で排出される二酸化炭素（CO2
        などの温室効果ガスが大気中に増えすぎることで、太陽に暖められた地表の熱が宇宙
        へ逃げにくくなり、地球の温度が上がってしまう現象のことをいいます。

        
    </p>
    <p class="text3">
        SDGsの目標13「気候変動に具体的な対策を」では、温室効果ガスの排出を原因とする
        地球温暖化現象が招く世界各地での気候変動やその影響を軽減することが目標です。
    </p>
</div>

<div>
    <h1 class="title1">
        CO2排出量の削減
    </h1>
    <p class="text4">
        製造会社では、新たな開発製品におけるCO2排出量の削減をする取り組みも多く見られます。<br><br>
        また、住宅メーカーでは、輸入木材から国産木材へ切り替えによる地産地消型での製造をすることで 
        CO2排出量の削減や循環型社会への実現に取り組む企業もあります。
    </p>
</div>

<div class="group">
    <ul>
        <li>天候の変化や温暖化などにより多くの産業やインフラに影響を与えている</li>
        <li>日本でもCO2の削減に取り組んでおり、循環型社会への実現に向けて頑張っている</li>
        <li>新たな開発製品におけるCO2排出量の削減をする取り組みも多く見られる</li>
    </ul>

</div>

<div> 
    <a href="../tamplates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>
</div>

<div class="aaa">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610"></iframe>

</div>

<div>
    <p class="text5">近年、気候変動が顕著化している。主に<br>　　　　　　　　や異常気象など</p>
</div>

<div>
    <p class="text6">※穴埋め箇所をクリックすると正解表示</p>
</div>

<div>
    <button class="button" id="button" type="button"> 
        海面水位の上昇
    </button>
</div>

<!-- フッターの表記 -->
<footer id="footer" class="ki">
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
            <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
            <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
            <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
      </footer>
    </div>
<!-- スクリプトの表記 -->
<script src="index.js"></script>
<script src="foot.js"></script>
<script src="kurikku.js"></script>


<script src="button.js"></script>



</body>
</html>