<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../static/css/1_2_2.css">
    <title>深刻化している貧困問題</title>
</head>
<body>
    <div id="page_top"><a href="#"></a></div>
  <div class="drawer drawer--right">
      <header role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" id="kiiro" role="navigation">
          <ul class="drawer-menu">
            <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>

            <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
            <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
            <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
            <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
          </ul>
        </nav>
      </header>
      <main role="main">
        <!-- Page content -->
      </main>
  </div>
  <img class="nani1" src="../static/img/1TOP.png" alt="">
  <div >
    <img class="husen" src="../static/img/mondaihusen1.png" alt="">
    <div class="waku">
<img class="ic1" src="../static/img/r1.png" alt="">
<p class="font">
    <p class="text1">辛い思いをしながら生活をしている人を救うのが目標1「貧困をなくそう」の目指す未来といえます。
        世界が急いで解決しなくてはいけない「極度の貧困」状態の人たちの多くは<span class="tooltip">途上国<span class="description_top">経済発展や開発の水準が先進国に比べて低く、経済成長の途上にある国を指す</span></span>で暮くらしています。先進国を中心とした国際的な支援が必要ですが，それだけでなく，貧しい人たちが自分たちで生活を向上させられるような「自立」へのサポートも大切なってきます.
    </p>
  </p>
</div>
<div class="ao">
    <img class="husen" src="../static/img/mondaihusen2.png" alt="">
    <div class="waku">
      <p class="text2">
        貧困状態に置かれると、様々な問題が起こります。必要な生活費がないことで十分な食事をとることができなかったり、病気になっても適切な治療が受けられなかったりすることで、飢餓や短寿命といった状況に追い込まれてしまいます。
            また、お金がないために不自由な生活を送っている人を減らします。食べ物が手に入らず命を落としてしまう子どもがいるのは事実としてあり、世界の技術や文化が発展しているとはいえ、お金がなく苦しんでいる人は数多くいます。
            そして、家計を支えるため、<span class="red">過重労働</span>や<span class="red">児童労働</span>を強いられてしまうといった問題も発生します。そうなることで、子供たちが適切な教育が受けられなくなり、貧困の連鎖を生み出してしまいます。
            </p>
        </p>
        <img class="ic2" src="../static/img/1_2_1.png" alt="">
    </div><img class="husen" src="../static/img/mondaihusen3.png" alt="">
    <div class="waku2">
        <div>
        <img class="ic3" src="../static/img/1_2_1_3.jpg" alt="">
        <h1 class="title1">フェアトレード（公正取引）</h1></div>
        <p class="text2">フェアトレードとは、発展途上国で作られている製品や原料などを正当な対価で継続的に購入することで、生産者や労働者の生活の改善と自立を目指す運動です。 <br>
            従来型の途上国への一方的な支援や援助だけでは継続性にかけるという問題がありましたが、フェアトレードでは途上国で生産されたものを私たち消費者が正当な価格で購入することができるので、身近な国際協力の形といえます。
            </p>
        </p>
    </div>
    <img class="husen" src="../static/img/mondaihusen4.png" alt="">
    <div class="waku2">
        <div class="group">
            <ul>
                <li>貧困状態に陥ることによって、飢餓や短寿命といった状況に追い込まれる</li>
                <li>家計を支えるため、子供たちが過重労働や児童労働を強いられてしまう</li>
                <li>10人に1人が貧困状態にある</li>
            </ul>
            </div>
    </div>
    <a href="../templates/1_3.html"><img class="webutton" src="../static/img/私たちにできること.png" alt=""></a>


<div class="yell">
    <img class="husen" src="../static/img/mondaihusen5.png" alt="">
    <div class="waku2">

<div><p class="text4">家計を支えるために<button class="button1" id="button">過重労働</button>　　　　や
    <button class="button2" id="button1">児童労働</button>　　　　を強いられている子どもがたくさんいる。</div>

<p class="text5">※穴埋め箇所をクリックすると正解表示</p>
 
</div>
</div>
</div>
<div class="aaaa">
<div class="aaa">
    <iframe src="../rensyu/aaa.html" frameborder="0" width="1345" height="610" ></iframe>
</div>

<div class="aaa2">
  <iframe src="../rensyu/aaa.html" frameborder="0" width="300" height="600" ></iframe>
</div></div>
<footer  class="ki" >
    <h3 class="fo">ザックリジーズ</h3>
        <ul class="list_triangle">
        <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
        <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
        <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_1.html">SDGsって何？</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_2.html">SDGsの17の目標</a></li>
        <li class="ooki"><a href=""><a id="ao" href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>
        </ul>
</footer>



  <script src="index.js"></script>
  <script src="foot.js"></script>
  <script src="kurikku.js"></script>
  <script src="button.js"></script>
    
</body>
</html>