<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/1_3_1.css">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="index.css">
    <title>TOP</title> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-23QPFXRR6D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-23QPFXRR6D');
</script>
</head>
<body>

    <div id="page_top"><a href="#"></a></div>
    <div class="drawer drawer--right">
        <header role="banner">
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>

          <nav class="drawer-nav" id="kiiro" role="navigation">
            <ul class="drawer-menu">
              <li class="mannaka"><a class="drawer-brand" href="#">ザックリジーズ</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
              <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
              <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
            </ul>
          </nav>
        </header>
        <main role="main">
          <!-- Page content -->
        </main>
    </div>
<div class="top"></div>

<div class="back"></div>

<div class="text1" >
    <p>
        私たちが募金をしたお金は様々な場所で使われています。例えば、何か大きな災害が起きたときには義援金や支援金などに使われたり、NPO/NGOの活動費になっています。具体的な例を挙げるとユニセフや日本赤十字社などがあります。
ユニセフでは世界の子供にワクチンや栄養治療食を配給し貧困に苦しんでいる子どもの命を助けています。私たちの少しの募金で救える命があることを忘れないようにしましょう。

    </p>
</div>

<div class="text2" >
    <p>
        日本では、日本赤十字社などがあります。この組織は、<br>地震や豪雨などの自然災害が起きたときに、義援金を被災地へ届け復興の力となっています。具体的には、崩壊した建物の再建築や避難している人々への食料などの配給に役立てられています。
    </p>
</div>

<div class="group">
    <ul>
        <li>もらったお釣りなどを募金する</li>
        <li>自主的に募金する</li>
        <li>被災地への復興のための支援金として募金する</li>
    </ul>
</div>


<div> <a href="../templates/1_3_1.html"><img class="a1" src="../static/img/dekabotan1.png" alt=""></a> </div>
<div> <a href="../templates/1_3_2.html"><img class="a2" src="../static/img/dekabotan2.png" alt=""></a> </div>
<div> <a href="../templates/1_3_3.html"><img class="a3" src="../static/img/dekabotan3.png" alt=""></a> </div>
<div> <a href="../templates/1_3_4.html"><img class="a4" src="../static/img/dekabotan4.png" alt=""></a> </div>
<div> <a href="../templates/1_3_5.html"><img class="a5" src="../static/img/dekabotan5.png" alt=""></a> </div>
<div> <a href="../templates/1_3_6.html"><img class="a6" src="../static/img/dekabotan6.png" alt=""></a> </div>

<div> <a href="https://www.unicef.or.jp/" target="_blank"><img class="bokinbutton" src="../static/img/bokinbutton.png" alt=""></a> </div>

<div><img class="bokin1" src="../static/img/bokin1 1.png" alt=""></div>
<div><img class="bokin2" src="../static/img/bokin 2.png" alt=""></div>

<div>
  <!-- フッターの表記 -->
  <footer id="footer" class="ki">
    <h3 class="fo">ザックリジーズ</h3>
      <ul class="list_triangle">
        <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
        <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
        <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
        <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
        <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
        <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>

    </ul>
  </footer>
</div>
<script src="index.js"></script>
<script src="foot.js"></script>
<script src="kurikku.js"></script>
</body>
</html>