<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="../static/css/1_3_3.css">
    <title>作る責任使う責任</title>
</head>
<body>
  <!-- ドロワー -->    
  <div id="page_top"><a href="#"></a></div>
  <div class="drawer drawer--right">
    <header role="banner">
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="drawer-nav" id="kiiro" role="navigation">
        <ul class="drawer-menu">
          <li id="big">ザックリジーズ</li>
          <li class="mannaka"><a class="drawer-menu-item" href="#">TOP</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="#">SDGsって何？</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="#">SDGsの17の目標</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="#">やってみよう<br>~私たちでにできること~</a></li>
          <li class="mannaka"><a id="ao" class="drawer-menu-item" href="top.html">SDGsクイズ</a></li>
          <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <!-- Page content -->
    </main>
  </div>
  <img src="../static/img/tukuru_TOP.png" alt="画像">
  <h1 class="font">ザックリジーズ</h1>
  <div class="waku">
      <img class="pi1" src="../static/img/husensekinin.png" alt="画像">
    <div class="naraberu">
        <p class="bg-text" id="moji">&emsp;私たちの地球は年々人口が増えており、30年ほどで現在の人口の74億人から96億人にも増加するといわれています。ここまで増加すると地球をほぼ3つ分用意しなければ今と同じライフサイクルを送ることは厳しいとされています。<br>
          現在も人口が増え続けていることで起きている問題があります。<br>「オーバーシュート」という問題です。これは、地球の供給量が人間の需要に追いていないという問題で、この状況が続けば、近いうちに地球に資源が枯渇してしまい私たちの生活に多大な影響を与えます。
          <br>&emsp;このことを防ぐためには、必要以上に物を買わない、作らないことや自分で買ったものや作ったものは捨てずに最後まで食べるなど資源を無駄にしないように心がけることが大切です。
        </p>
        <img class="pi2" src="../static/img/use.png" alt="画像">
    </div>
      <img class="pi1" src="../static/img/bokinhusen2.png" alt="画像"><br>
      <img class="pi3" src="../static/img/useshita.jpg" alt="画像">
    <div class="iti">
      <ul class="text1">
          <li>自分が使う量、食べる量を考えて購入する</li>
          <li>節約などを心がける</li>
          <li>この問題に対して、理解を深める</li>
      </ul>
    </div>
  </div>
  <div>
    <ul class="wrap">
      <li class="item">
        <a href="1_3_1.html"><img src="../static/img/dekabotan1.png" alt="画像1"></a>
      </li>
      <li class="item">
        <a href="1_3_2.html"><img src="../static/img/dekabotan2.png" alt="画像2"></a>
      </li>
      <li class="item">
        <a href="1_3_3.html"><img src="../static/img/dekabotan3.png" alt="画像3"></a>
      </li>
      <li class="item">
        <a href="1_3_4.html"><img src="../static/img/dekabotan4.png" alt="画像4"></a>
      </li>
      <li class="item">
        <a href="1_3_5.html"><img src="../static/img/dekabotan5.png" alt="画像5"></a>
      </li>
      <li class="item">
        <a href="1_3_6.html"><img src="../static/img/dekabotan6.png" alt="画像6"></a>
      </li>
    </ul>
  </div>
    <div>
        <!-- フッターの表記 -->
        <footer id="footer" class="ki">
          <h3 class="fo">ザックリジーズ</h3>
            <ul class="list_triangle">
              <li id="yokonarabi"class="ooki"><a href="#">TOPへ</a></li>
              <li id="yokonarabi" class="ooki"><a id="ao" href="top.html">SDGsクイズ</a></li>
              <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
              <li class="ooki"><a href="">SDGsって何？</a></li>
              <li class="ooki"><a href="">SDGsの17の目標</a></li>
              <li class="ooki"><a href="">やってみよう～私たちでにできること～</a></li>

          </ul>
        </footer>
      </div>
  <!-- スクリプトの表記 -->
  <script src="../index.js"></script>
  <script src="../foot.js"></script>
</body>
</html>