<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="../static/css/1_3_6.css">
    <title>自然を大切に</title>
</head>
<body>
  <!-- ドロワー -->    
  <div id="page_top"><a href="#"></a></div>
  <div class="drawer drawer--right">
    <header role="banner">
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="drawer-nav" id="kiiro" role="navigation">
        <ul class="drawer-menu">
          <li id="big">ザックリジーズ</li>
          <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
          <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
          <li class="mannaka"><a id="aka" class="drawer-menu-item" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <!-- Page content -->
    </main>
  </div>
  <img src="../static/img/riku_TOP.png" alt="画像">
  <h1 class="font">ザックリジーズ</h1>
  <div class="waku">
      <img class="pi1" src="../static/img/husenrikuwokireini.png" alt="画像">
    <div class="naraberu">
        <p class="bg-text" id="moji">
          &emsp;私たちを含め、地球上に生きるすべての動植物は、海・川・森などの自然の中で関わり合いながら暮らしています。これを「生物多様性」といいます。森林を管理しなければ、世界中から豊かな森が姿を消すことになります。森林が失われる原因は、自然環境や生態系に配慮しない森林伐採や人口増加による森林の都市化、砂漠化や干ばつといった気候変動の影響等です。
          <br>&emsp;「陸の生体系を守りつつ再生し、持続させる」「土地環境が悪くなるのを食い止め、再生し生物多様性を守る」という目標は絶滅の危機に直面している地上生物が多い事が関係しています。
        </p>
        <img class="pi2" src="../static/img/rikuyoko.png" alt="画像">
    </div>
      <img class="pi1" src="../static/img/bokinhusen2.png" alt="画像"><br>
      <img class="pi3" src="../static/img/rikushita.jpeg" alt="画像">
    <div class="iti">
      <ul class="text1">
          <li>地域団体などがやっている植林活動や森づくりに参加してみる</li>
          <li>環境に配慮した製品を選ぶようにする</li>
          <li>マイエコバックを使用し、レジ袋はもらわない</li>
      </ul>
    </div>
  </div>
  <div>
    <ul class="wrap">
      <li class="item">
        <a href="1_3_1.html"><img src="../static/img/dekabotan1.png" alt="画像1"></a>
      </li>
      <li class="item">
        <a href="1_3_2.html"><img src="../static/img/dekabotan2.png" alt="画像2"></a>
      </li>
      <li class="item">
        <a href="1_3_3.html"><img src="../static/img/dekabotan3.png" alt="画像3"></a>
      </li>
      <li class="item">
        <a href="1_3_4.html"><img src="../static/img/dekabotan4.png" alt="画像4"></a>
      </li>
      <li class="item">
        <a href="1_3_5.html"><img src="../static/img/dekabotan5.png" alt="画像5"></a>
      </li>
      <li class="item">
        <a href="1_3_6.html"><img src="../static/img/dekabotan6.png" alt="画像6"></a>
      </li>
    </ul>
  </div>
    <div>
        <!-- フッターの表記 -->
        <footer id="footer" class="ki">
          <h3 class="fo">ザックリジーズ</h3>
            <ul class="list_triangle">
              <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
              <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
              <li id="yokonarabi"class="ooki"><a id="aka" href="https://forms.gle/h7mscVGShr7xSgMcA">アンケート</a></li>
              <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>

          </ul>
        </footer>
      </div>
  <!-- スクリプトの表記 -->
  <script src="../index.js"></script>
  <script src="../foot.js"></script>
</body>
</html>