<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ファビコンの表記 -->
    <link rel="icon" href="../rogo .ico">
    <!-- ここからjsまたjqueryの表記 -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <!-- cssの表記 -->
    <link rel="stylesheet" href="../static/css/1_3_1.css">
    <title>募金で救う世界</title>
</head>
<body>
  <!-- ドロワー -->    
  <div id="page_top"><a href="#"></a></div>
  <div class="drawer drawer--right">
    <header role="banner">
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="drawer-nav" id="kiiro" role="navigation">
        <ul class="drawer-menu">
          <li id="big">ザックリジーズ</li>
          <li class="mannaka"><a class="drawer-menu-item" href="../index.html">TOP</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_1.html">SDGsって何？</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_2.html">SDGsの17の目標</a></li>
          <li class="mannaka"><a class="drawer-menu-item" href="../templates/1_3.html">やってみよう<br>~私たちでにできること~</a></li>
          <li class="mannaka"><a id="ao" class="drawer-menu-item" href="../qtop.html">SDGsクイズ</a></li>
          <li class="mannaka"><a id="aka" class="drawer-menu-item"  href="https://forms.gle/h7mscVGShr7xSgMcA" target="_blank" rel="noopener noreferrer">アンケート</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <!-- Page content -->
    </main>
  </div>
  <img src="../static/img/bokinTOP.png" alt="画像">
  <h1 class="font">ザックリジーズ</h1>
  <div class="waku">
      <img class="pi1" src="../static/img/bokinhusen1.png" alt="画像">
    <div class="naraberu">
      <p class="bg-text">&emsp;私たちが募金をしたお金は様々な場所で使われています。例えば、何か大きな災害が起きたときには義援金や支援金などに使われたり、NPO/NGOの活動費になっています。具体的な例を挙げるとユニセフや日本赤十字社などがあります。ユニセフでは世界の子供にワクチンや栄養治療食を配給し貧困に苦しんでいる子どもの命を助けています。私たちの少しの募金で救える命があることを忘れないようにしましょう。
      <br>&emsp;日本では、日本赤十字社などがあります。この組織は、地震や豪雨などの自然災害が起きたときに、義援金を被災地へ届け復興の力となっています。具体的には、崩壊した建物の再建築や避難している人々への食料などの配給に役立てられています。</p>
      <img class="pi2" src="../static/img/bo.png" alt="">
    </div>
      <img class="pi1" src="../static/img/bokinhusen2.png" alt="画像"><br>
      <img class="pi3" src="../static/img/yuni.jpg" alt="画像">
    <div class="iti">
      <ul class="text1">
          <li>もらったお釣りなどを募金する</li>
          <li>自主的に募金する</li>
          <li>被災地への復興のための支援金として募金する</li>
      </ul>
    </div>
      <img class="pi4" src="../static/img/bokin1.png" alt="画像">
      <div><img class="pi5" src="../static/img/bbohaikei.png" alt="画像"></div>
      <a href="https://www.unicef.or.jp/"><img class="pi7" src="../static/img/bokinbutton.png" alt="画像"></a>
  </div>
  
  <div>
    <ul class="wrap">
      <li class="item">
        <a href="1_3_1.html"><img src="../static/img/dekabotan1.png" alt="画像1"></a>
      </li>
      <li class="item">
        <a href="1_3_2.html"><img src="../static/img/dekabotan2.png" alt="画像2"></a>
      </li>
      <li class="item">
        <a href="1_3_3.html"><img src="../static/img/dekabotan3.png" alt="画像3"></a>
      </li>
      <li class="item">
        <a href="1_3_4.html"><img src="../static/img/dekabotan4.png" alt="画像4"></a>
      </li>
      <li class="item">
        <a href="1_3_5.html"><img src="../static/img/dekabotan5.png" alt="画像5"></a>
      </li>
      <li class="item">
        <a href="1_3_6.html"><img src="../static/img/dekabotan6.png" alt="画像6"></a>
      </li>
    </ul>
  </div>
    <div>
        <!-- フッターの表記 -->
        <footer id="footer" class="ki">
          <h3 class="fo">ザックリジーズ</h3>
            <ul class="list_triangle">
              <li id="yokonarabi"class="ooki"><a href="../index.html">TOPへ</a></li>
              <li id="yokonarabi" class="ooki"><a id="ao" href="../qtop.html">SDGsクイズ</a></li>
              <li id="yokonarabi"class="ooki"><a id="aka"  href="https://forms.gle/h7mscVGShr7xSgMcA" target="_blank" rel="noopener noreferrer">アンケート</a></li>
              <li class="ooki"><a href="../templates/1_1.html">SDGsって何？</a></li>
              <li class="ooki"><a href="../templates/1_2.html">SDGsの17の目標</a></li>
              <li class="ooki"><a href="../templates/1_3.html">やってみよう～私たちでにできること～</a></li>

          </ul>
        </footer>
      </div>
  <!-- スクリプトの表記 -->
  <script src="../index.js"></script>
  <script src="../foot.js"></script>
</body>
</html>
